form {
  margin: 0;
  max-width: 789px;
  display: flex;
  align-items: start;
  justify-content: center;

  .user-avatar {
    margin-top: 15px;
    margin-right: -45px;
    z-index: 99;
    width: 35px;
    height: 35px;
    background-color: var(--dark-color);
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;

    &::after {
      content: '';
    }

    span {
      color: var(--light-color);
      font-weight: bold;
    }
  }
}

textarea {
  min-height: 80px;
  padding: 15px;
  padding-left: 3.2rem;
  padding-right: 9rem;
  border: 1px grey solid !important;
  border-radius: 8px;
  background-color: var(--light-color) !important;
  width: 100%;

  &:focus {
    box-shadow: 0px 0px 4px var(--color-1);
    background-color: var(--white) !important;
  }

  &::-webkit-scrollbar {
    display: none;
    overflow-x: auto;
  }
}

.right {
  display: flex;
  z-index: 99;
  margin-top: 15px;
  margin-left: -139px;

  a {
    display: flex;
    align-items: center;
  }

  .icon {
    cursor: pointer !important;
  }
}
.comments{
  display: grid;
  gap: 16px;
  .card {
    backdrop-filter: blur(20px);
    border: solid var(--color-1) 1px;
    border-radius: 19px;
    padding: 15px;
    flex-direction: row !important;
    display: flex;
    justify-content: space-between !important;
    gap: 15px;

    .card-body {
      padding: 0;
      display: grid;
      gap: 10px;

      .card-header {
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 0;
        background-color: transparent;

        .card-group {
          display: flex;
          align-items: center;
          gap: 7px;

          .user-avatar {
            width: 35px;
            height: 35px;
            background-color: var(--dark-color);
            border-radius: 4px;
            display: flex;
            justify-content: center;
            align-items: center;

            &::after {
              content: '';
            }

            span {
              color: var(--light-color);
              font-weight: bold;
            }
          }
        }
      }

      .card-footer {
        padding: 0;
        overflow: hidden;
        border-radius: 4px;

        max-height: 510px;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }

      }

    }

    aside {
      display: grid;
      align-content: space-between;

      a {
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .part-reacts {
        display: flex;
        flex-direction: column;
        flex-grow: 1;

        .dropdownMenu {
          width: max-content;
          display: flex;
          flex-direction: column;
          padding: 10px;
          border: 1px solid var(--color-1);
          border-radius: 16px;
          background-color: var(--light-color);

          a {
            gap: 7px;
          }
        }

      }

      span {
        font-size: 12px !important;
      }
    }

    transition: background-color ease .3s;

    &:hover {
      background-color: var(--white) !important;
    }
  }
}
