<nav class="navbar navbar-expand-lg navbar-light bg-transparence container">
  <a class="navbar-brand p-0 m-0 d-flex" routerLink="/">
    <img src="../../../../assets/imgs/logo.svg" alt="logo" title="Logo" class="d-none d-md-block">
    <img src="../../../../assets/imgs/logo-img.svg" alt="mobile logo" title="Logo" class="d-md-none">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <form class="form-inline d-flex ">
      <img class="iSearch" src="../../assets/imgs/icons/search.svg" id="svg" width="15" alt="">
      <input class="form-control mr-sm-2 rounded-pill bg-transparent border border-none" type="search"
        placeholder="Lawej 7eja..." aria-label="Search" autocomplete="off">
    </form>

    <button class="btn btn-outline-primary  my-2 my-sm-0 rounded-pill" routerLink="/login" title="Login Now!"
      *ngIf="!currentUser || !currentUser.fullname">Login</button>
    <div class="card position-relative" *ngIf="currentUser && currentUser.fullname" (click)="toggleDropdown($event)">
      <div class="card-group">
        <div class="user-avatar">
          <span>{{ initials(currentUser.fullname) }}</span>
        </div>
        <div class="card-title m-0">
          <span><b>{{ currentUser.fullname }}</b></span>
          <div class="card-subtitle"><small>@{{ currentUser.username }}</small></div>
        </div>

        <div *ngIf="dropdownVisible" class="dropdownMenu position-absolute" style="top: 120%; right: 0; z-index: 1000;">
          <a routerLink="/profile" title="View Profile">View Profile</a>
          <a (click)="onLogout()">Log Out</a>
        </div>
      </div>
    </div>
  </div>
</nav>