<div class="card">
  <h2>Signup</h2>
  <form class="form-inline" action="">
    <div class="inputs">
      <div class="two-inputs">
        <input class="form-control mr-sm-2 rounded-3 bg-transparent border border-none" type="text"
          placeholder="FullName" aria-label="fullname" autocomplete="off">
        <input class="form-control mr-sm-2 rounded-3 bg-transparent border border-none" type="text"
          placeholder="Username" aria-label="username" autocomplete="off">
        <input class="form-control mr-sm-2 rounded-3 bg-transparent border border-none" type="email" placeholder="Email"
          aria-label="email" autocomplete="off">
        <input class="form-control mr-sm-2 rounded-3 bg-transparent border border-none" type="password"
          placeholder="Password" aria-label="password" autocomplete="off">
      </div>
      <div class="last-input">
        <label for="agree">
          <input type="checkbox" name="agree" id="agree">I agree to the terms and conditions.
        </label>
      </div>
    </div>
    <button class="btn rounded-5" routerLink="/Signup" type="submit">Create your account</button>
    <p>Already have an account? <a routerLink="/login">Login</a></p>

  </form>
</div>