<section>
  <h1>Privacy</h1>
  <div class="d-flex flex-wrap justify-content-between align-items-center">
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
      standard
      dummy text ever since the 1500s,Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
      Ipsum
      has been the industry's standard dummy text ever since the 1500s,Lorem Ipsum is simply dummy text of the printing
      and
      typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,Lorem Ipsum is
      simply
      dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever
      since
      the 1500s,Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
      industry's
      standard dummy text ever since the 1500s,Lorem Ipsum is simply dummy text of the printing and typesetting
      industry.
      Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,Lorem Ipsum is simply dummy text of
      the
      printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the
      1500s,Lorem
      Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard,
    </p>
  </div>
</section>