<footer>
  <div class="columns d-flex flex-wrap">
    <div class="column">
      <div class="part">
        <img src="../../../../assets/imgs/logo.svg" alt="logo-blackWhite">
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
          industry's
          standard
          dummy text ever since the 1500s,</p>
      </div>
      <div class="part">
        <div>
          <h5><b>Platform</b></h5>
          <a routerLink="/about">
            <p>Who We are</p>
          </a>
          <a routerLink="/contact">
            <p>Get In Touch</p>
          </a>
        </div>
      </div>
    </div>
    <div class="column">
      <div>
        <div class="part">
          <h4><b>Contact Information:</b></h4>
          <a routerLink="/contact">
            <p>Contact Us</p>
          </a>
        </div>
      </div>
    </div>
    <div class="column">
      <div>
        <div class="part">
          <h4><b>Quick Links</b></h4>
          <div>
            <a routerLink="/home">
              <p>Home</p>
            </a>
            <a routerLink="/home">
              <p>Posts</p>
            </a>
            <a routerLink="/home">
              <p>Profile</p>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="column">
      <div>
        <div class="part">
          <h4><b>Follow us!</b></h4>
          <div class="part-medias">
            <a routerLink="/home">
              <img width="38" src="../../../../assets/imgs/icons/twitter.svg" alt="logo-blackWhite">
            </a>
            <a routerLink="/home">
              <img width="38" src="../../../../assets/imgs/icons/facebook.svg" alt="logo-blackWhite">
            </a>
            <a routerLink="/home">
              <img width="38" src="../../../../assets/imgs/icons/instagram.svg" alt="logo-blackWhite">
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="d-flex justify-content-center gap-5 border-top border-1 border-primary py-2">
    <a routerLink="/terms-policies">
      <p>Terms & Policies</p>
    </a>
    <a routerLink="/privacy">
      <p>Privacy</p>
    </a>
  </div>
</footer>