// Define root colors
:root {
  --white: #ffffff;
  --color-1: #5E59EA;
  --color-2: hsl(242, 78%, 58%);
  --light-color: #EDEDFD;
  --dark-color: #030212;
}
@import 'bootstrap/scss/bootstrap';

$theme-colors: (
  "primary": var(--color-1),
  "secondary": var(--color-2),
  "light": var(--light-color),
  "dark": var(--dark-color),
  "white": var(--white)
);


html {
  background-image: url('./assets/imgs/gradient_full-bg.svg');
  background-position: -70% -40%;
  background-size: 60%;
  background-repeat: no-repeat;
  background-color: var(--light-color) !important;
  &::-webkit-scrollbar {
      display: none;
    }
}
*::selection{
  background-color: var(--color-2);
  color: var(--light-color);
}

/*body::before{
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.1;
    background-image: url('./assets/imgs/pic-bg.png');
    background-repeat: no-repeat;
    background-size: 90%;
    background-position: 50% 0;
    background-attachment: fixed;
}
    */
body{
  background-color: transparent !important;
  font-family: 'roboto', sans-serif;
  color: var(--dark-color);
}

button {
  color: var(--white)!important;
  border: 1px solid var(--color-1);
  background-color: var(--color-1) !important;
  font-weight: bold!important;
  &:hover {
    background-color: var(--color-1) !important;
    color: var(--white);
  }

  &:active {
    background-color: var(--color-2) !important;
    color: var(--white);
  }
}
a {
  color: var(--color-1);
  font-weight: 500;
  text-underline-offset:3px;
}
