<div class="posts">
  <div class="part-reacts">
    <div class="grid">
      <a class="icon-grid" (click)="onGridClick($event)">
        <img src="../../../assets/imgs/icons/grid-1.svg" alt="Grid-1 Icon" class="icon"
          [ngStyle]="{'opacity': !gridType ? '0' : null}">
        <img src="../../../assets/imgs/icons/grid-1-selected.svg" alt="Selected Grid-1 Icon" class="grid-1-icon-hover"
          [ngClass]="{ 'grid-1-icon-hover': gridType }">
      </a>
      <a class="icon-grid " (click)="onGridClick($event)">
        <img src="../../../assets/imgs/icons/grid-2.svg" alt="Grid-2 Icon" class="icon"
          [ngStyle]="{'opacity': gridType ? '0' : null}">
        <img src="../../../assets/imgs/icons/grid-2-selected.svg" alt="Selected Grid-2 Icon" class="grid-2-icon-hover"
          [ngClass]="{ 'grid-2-icon-hover': !gridType }">
      </a>
    </div>
  </div>
  <app-post-add></app-post-add>
  <div class="card" *ngFor="let post of posts" routerLink="/details/{{ post.id }}">
    <div class="card-body">
      <div class="card-header border-0">
        <div class="card-group">
          <div class="user-avatar" (click)="onPreventClick($event)">
            <span>{{ initials(post.fullname)}}</span>
          </div>
          <div class="card-title m-0">
            <span><b>{{ post.fullname }}</b></span>
            <div class="card-subtitle"><small>@{{ post.username }}</small></div>
          </div>
        </div>
        <div class="description">
          <p class="m-0">{{ post.description }}</p>
        </div>
      </div>
      <div class='card-footer' *ngIf="post.media">
        <img [src]="post.media" alt="Post Media">
      </div>
    </div>
    <aside>
      <a (click)="deletePost($event,post.id)">
        <img src="../../../assets/imgs/icons/dots.svg" alt="Dots Icon">
      </a>
      <div class="part-reacts">
        <div class="text-center">
          <a (click)="onPreventClick($event)" class="icon-wrapper">
            <img src="../../../assets/imgs/icons/share.svg" alt="Share Icon" class="icon">
            <img src="../../../assets/imgs/icons/share-hovered.svg" alt="Hovered Share Icon" class="share-icon-hover">
          </a>
          <span class="m-0">{{ post.interactions.shares }}</span>
        </div>
        <div class="text-center">
          <a (click)="onPreventClick($event)" class="icon-wrapper">
            <img src="../../../assets/imgs/icons/comment.svg" alt="Comment Icon" class="icon">
            <img src="../../../assets/imgs/icons/comment-hovered.svg" alt="Hovered Comment Icon"
              class="comment-icon-hover">
          </a>
          <span class="m-0">{{ post.interactions.comments }}</span>
        </div>
        <div class="text-center">
          <a (click)="onLikeClick($event,post)" class="icon-wrapper">
            <img src="../../../assets/imgs/icons/like.svg" alt="Like Icon" class="icon" class="icon">
            <img src="../../../assets/imgs/icons/like-hovered.svg" alt="Hovered Like Icon"
              [ngClass]="{ 'like-icon-hover': !post.liked }">
          </a>
          <span class="m-0">{{ post.interactions.likes }}</span>
        </div>
      </div>
    </aside>
  </div>
</div>